*{
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}

header{
  background-color: #1e70da;
  color: white;
  padding: 0;
  height: 5rem;
  text-align: center;
}
header h1{
  margin: 0;

}
footer{
  background-color: #b0b1b3;
  text-align: center;
  padding: 10px 0;
}
nav{
  background-color: #2aa3fc;
  margin-bottom: 20px;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}
nav ul li {
  flex-grow: 1;
}

nav ul li a{
  color: white;
  text-decoration: none;
  padding: 8px;
  display: block;
  text-align: center;
}
.caja{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}